Ticket_Agent1.json
{
  "name": "Ticket Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "27bcfd36-1f2a-4c1b-806a-35a3eaaeb986",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "530fb088-462f-446c-9ae5-b04627163e25",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "=[YOUR EMAIL]",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -340,
        320
      ],
      "id": "9eaf4779-d925-436d-affa-69f13be8e1be",
      "name": "Send Email",
      "webhookId": "86c8c4b1-13bb-4ebe-acb9-30e1d7082d55",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Uu8XPIiFF4ac0WJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -840,
        80
      ],
      "id": "acfd5ac1-6799-4c29-b253-6013e84a78e8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        320
      ],
      "id": "18f39b2f-a4f5-4be0-8d56-58c729724331",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FyKbx1SoIgWi7M7F",
          "name": "OpenAI-Kia"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an email assistant, responsible for booking support tickets.\nTo book a support ticket you must send an email to [YOUR EMAIL] along with the details of the ticket. \n\n**Email Management Tools**   \n   - Use \"Send Email\" to send emails.  \n\n# Ticket Email Format \n\nYour ticket email should have the following format: \n\nsubject: New Support Ticket - {userName}\n\nbody: \n\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>New Support Ticket</title>\n</head>\n<body>\n  <p>A new support ticket has been created:</p>\n  <ul>\n    <li><strong>Name:</strong> {userName}</li>\n    <li><strong>Email Address:</strong> {emailAddress}</li>\n    <li><strong>Details:</strong> {userRequest}</li>\n  </ul>\n  <p>Please respond to the customer as soon as possible.</p>\n</body>\n</html>\n\n"
        }
      },
      "id": "f44ce7f9-da07-499e-9983-f1e2d79a0855",
      "name": "ticketAgent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -600,
        80
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Name: Johnson, Email: Johnson@gmail.com, Details: I'm looking for a job, can you hire me?"
        }
      }
    ]
  },
  "connections": {
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "ticketAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ticketAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ticketAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ticketAgent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c8999ee-0cf5-4879-8e91-5e15cd4bcf41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b28d66d14f40eb70ce76982ff5a26f67c6ff8a3b5e252b0e32973f57f9e31707"
  },
  "id": "o4fvt4O9CrkTCsgX",
  "tags": []
}